.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 80px 80px 0px 0px;
    background: var(--color-grey);
    padding: 80px 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        color: var(--color-navy);
        font-size: 112px;
        font-weight: 700;
        line-height: 90%;
        width: 45%;
        margin-bottom: 70px;
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-auto-rows: 560px;
    justify-content: center;
    gap: 39px;
}

.button {
    display: flex;
    width: 100%;
    margin-top: 60px;
    padding: 42px 0 42px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: var(--color-background);
    color: var(--color-navy);
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    line-height: 90%;
    letter-spacing: 1.32px;
    text-transform: uppercase;
    border: none;
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        &__text {
            font-size: 72px;
            width: 40%
        }
    }
}

@media (max-width: 768px) {

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        &__text {
            font-size: 52px;
            width: 40%
        }
    }
}

@media (max-width:475px) {

    .content {
        display: flex;
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        margin-bottom: 50px;
        gap: 30px;

        &__text {
            font-size: 42px;
            margin: 0;
            line-height: 90%;
            width: 100%;
        }
    }
}

@media (max-width:320px) {

    .header {
        &__text {
            text-align: center;
            font-size: 32px;
        }
    }

}