.wrapper {
    display: flex;
    gap: 5px;
    width: 410px;
}

.buttonDes {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    background: var(--color-grey);
    padding: 20px;
    color: var(--color-navy);
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    height: 64px;
}

.buttonAct {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    background: var(--color-light-blue);
    padding: 20px;
    color: var(--color-navy);
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    height: 64px;
}

.svg {
    width: 15%;
    height: 15%;
}


@media (max-width: 768px) {
    .wrapper {
        justify-content: flex-end
    }

    .buttonDes {
        padding: 15px;
        font-size: 14px;
    }

    .buttonAct {
        padding: 15px;
        font-size: 14px;
    }
}

@media (max-width:475px) {

    .wrapper {
        justify-content: center
    }
}

@media (max-width:320px) {

    .wrapper {
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

}